/1.py
/10.py
/11.py
/12.py
/13.py
/19.py
/2.py
/20.py
/21.py
/22.py
/23.py
/25.py
/4.py
/5.py
/6.py
/7.py
/8.py
/9
/9.py
/analyze the data collected in calgary.docx
/apiscript.py
/Calgary statistics jason.docx
/calgarycollections.js
/calgarynewsapi.py
/calgarynewsview.py
/calgarypopulation.js
/calgarystatistics.js
/calgary_news_dataset.csv
/csvnews.py
/dataframe1.js
/dataframe1.py
/dataretrieval.py
/Here is a structured approach to perform predictive analysis using Scikit.docx
/linearregression.py
/LinearRegressionpredictmedian income.py
/metrics.py
/MongotoPandas.js
/MongotoPandas.py
/Party-of-AI
/population.js
/predictionresults.py
/RandomizedSearchCV.py
/sizeofdataset.py
/tempCodeRunnerFile.py
/To train models using the three different algorithms.docx
/train_test_split.js
/train_test_split.py